label{
    color:white;
    font-size:20px;
}

Autocomplete{
    height:20px;
}

.ghost-button{
  text-align: center;
  font-size: 20px;
  width: 200px;
  background-color: rgba(0,0,0,0);
  padding: 8px;
  border: 3px solid #fff;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.red{
    color:red
}

.line{
  padding-top:60px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.block-label{
    display: block;
    margin-top:10px;
}

.submit-login {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  padding: 8px;
}

.panel-image{
    margin-left: auto;
    margin-right:auto;
    height: 250px;
    width: 250px;
    background-size: 450px;
}

.navbar{
    margin-bottom:0px;
    border-radius: 0px;
}

.dashboard{
    margin-top:-20px;
    background-image: url("./images/dashboard.jpg");
    height:1000px;
}

.border{
background-color:rgba(0,0,0,0.5);
margin-left: 5%;
margin-top: 20px;
border:solid;
}

.white{
    color:white;
}

.center{
    height:100%;
    text-align:center; 
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

#workout-options{
    margin-top:15px
}

#header-pic{
    background-image: url("./images/cover.jpg");
    height:500px;
    width:100%;
    background-size:cover;
}

#blushfit{
  font-weight:800;
  font-size:50pt;
  padding-left:25px;
  padding-right:25px;
  padding-top: 25px;
  text-align:center;
  color:#fff;
}

#blushfit-sub{
  font-weight:400;
  font-size:28pt;
  padding:1px;
  text-align:center;
  color:"grey";
}

#signup-button {
  margin-left: 133%;
  margin-top:130px;
}

#homepage-panels{
height:500px;
width:100%;
background-size:cover;
}

#second-heading{
 font-weight:600;
  font-size:20pt;
  padding-left:25px;
  padding-right:25px;
  padding-top: 5px;
  text-align:center;
  color:black;
}



#whisper-pic{
    background-image: url("./images/whisper.jpg");
}

#bar-workout-pic{
    background-image: url("./images/workout.jpg");
}

#laughing-pic{
    background-image: url("./images/laughing.jpg")
}

#signup-page{
    background-image: url("./images/weights.jpg");
    height:1000px;
    border:solid;
}

#signup-form{
    width:40%;
    margin-left:30%;
    margin-top:5%;
    border: 5px;
    background-color:rgba(100,100,100,0.5);
}

#workout-goal{
    height:50px;
    width:50px;
}

#address-btn{
    margin-top:12px;
}

#dashboard-title{
    font-size: 70px;
}
